.about-bg-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url('../images/banner-img/about-banner-bg.png');
}

.contact-bg-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url('../images/banner-img/contact-banner-img.png');
}