.footer {
    /* background-image: url('../images/banner-img/footer-banner-img.jpg'); */
    background-color: #303030;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: solid 1px white;
    color: white;
}   