.footer {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    background-image: url('../images/banner-img/footer-banner-img-trial-1.png') ;
    border-top: solid 1px white;
    color: white;
}   