.relative {
  position: relative;
  bottom: 150px;
}

.grass {
  width: 100%;
  overflow: hidden;
  min-height: 150px;
  object-fit: cover;
}
.heading {
  font-family: 'Kaushan Script','cursive';
  color: #805a29;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 60px;
}
.green {
  color: #406C19;
}
.margin {
  margin-top: 150px;
  margin-bottom: 80px;
}
.plant1 {
  position: absolute;
  height: 300px;
  /* height: 250px; */
  left: 0;
  top: 0;
}

.plant2 {
  position: absolute;
  height: 250px;
  /* height: 200px; */
  right: 0;
  top: 0;
}
.subheading {
  /* margin-top: 150px; */
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: "Lora", "serif";
  /* font-size: 25px; */
  font-weight: 600;
  color: #805a29;
  text-align: center;
}
.underline {
  padding-bottom: 2px;
  border-bottom: #805a29 2px solid;
}


/******************************MEDIA QUERIES ********************************************/


@media screen and (max-width: 376px) {
  .heading {
    font-size: 57px;
  }
  .margin {
    margin-top: 200px;
  }
  .plant1 {
    height: 200px;
  }
  .plant2 {
    height: 190px;
  }
  .subheading {
    margin-top: 170px;
    font-size: 15px;
  }
  .relative {
      bottom: 200px;
  }
}
@media screen and (min-width: 376px) and (max-width: 541px) {
    .heading {
      font-size: 57px;
    }
    
    .margin {
      margin-top: 230px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .plant1 {
        height: 230px;
    }

    .plant2 {
        height: 220px;
    }

    .subheading {
        margin-top: 250px;
        font-size: 20px;
    }

    .relative {
        bottom: 250px;
    }
}
@media screen and (min-width: 541px) and (max-width: 769px) {
      .heading {
        font-size: 57px;
      }
      .grass {
        position: absolute;
        bottom: 0;
      }
      
      .margin {
        margin-top: 400px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    .plant1 {
        height: 350px;
    }

    .plant2 {
        height: 340px;
    }

    .subheading {
        margin-top: 400px;
        font-size: 20px;
    }

    .relative {
        bottom: 400px;
    }
}
@media screen and (min-width: 789px) and (max-width: 821px) {
  .heading {
    font-size: 57px;
  }
  
  .grass {
    position: absolute;
    bottom: 0;
  }
  
  .margin {
    margin-top: 560px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
    .plant1 {
        height: 450px;
    }

    .plant2 {
        height: 440px;
    }
    .subheading {
        margin-top: 560px;
        font-size: 20px;
    }

    .relative {
        bottom: 560px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 2560px) {
    .grass {
        position: absolute;
        bottom: 0;
    }
}

/* @media screen and (width: 1280px) {
  .grass {
    position: absolute;
    bottom: 0;
  }
} */
