.reverse {
    order: 2
}
input[type='number'] {
    width: 255px;
}

@media screen and (max-width: 1024px) {
    textarea {
        display: block;
        margin: auto;
        width: 70%;
    }
    input {
        display: block;
        margin: auto;
    }
}